<a href="https://colab.research.google.com/github/Kartik-Rajpurohit/Summer-internship/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,11):
  print(i)
  if(i==4):
    break
print("---outside---")

1
2
3
4
---outside---

In [ ]:
a=7
b=9
if(a>b):
  greater=a
else:
  greater=b
while(True):
  if(greater%a==0 and greater%b==0):
    print("lcm = ",greater)
    break
  else:
    greater+=1

lcm =  63

In [ ]:
data = "saras"
start = 0
end = len(data) - 1
a = 0

while (start < end):
    if data[start] != data[end]:
        a = 1
        break
    start += 1
    end -= 1
if a == 1:
    print("not palindrome")
else:
    print("palindrome")

palindrome

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
max=0
for i in a:
    if i>max:
        max=i
print(max)

9

In [ ]:
for i in range(1,4):
  print("---student",i)
  for j in range(1,i+1):
    print("good night",j)

---student 1
good night 1
---student 2
good night 1
good night 2
---student 3
good night 1
good night 2
good night 3

In [ ]:
mylist=[50,1,10,40,2,4,12,8,24,7]
for i in range(0,len(mylist)):
  for j in range (i+1,len(mylist)):
    if(mylist[i] + mylist[j] == 9):
      print("Sum of two values => ",mylist[i] , mylist[j])

Sum of two values =>  1 8
Sum of two values =>  2 7

In [ ]:
mytuple=(10,20,30,40,"abc")
mytuple.count(10)
mytuple.index("abc")

4

In [ ]:
for i in range(1,5):
  print("Student",i)
  for j in range(1,7):
    print("---Subject",j)
  print("###TEA BREAK ###")

Student 1
---Subject 1
---Subject 2
---Subject 3
---Subject 4
---Subject 5
---Subject 6
###TEA BREAK ###
Student 2
---Subject 1
---Subject 2
---Subject 3
---Subject 4
---Subject 5
---Subject 6
###TEA BREAK ###
Student 3
---Subject 1
---Subject 2
---Subject 3
---Subject 4
---Subject 5
---Subject 6
###TEA BREAK ###
Student 4
---Subject 1
---Subject 2
---Subject 3
---Subject 4
---Subject 5
---Subject 6
###TEA BREAK ###

In [ ]:
for i in range(1,4):
  for j in range(1,i+1):
    print("*",end =" ")
  print(" ")

*
* *
* * *

In [ ]:
for i in range(1,5):
  for j in range(1,7-i):
    print("*",end =" ")
  print(" ")

* * * * *
* * * *
* * *
* *

In [ ]:
for i in range(1,4):
  print(i,i,i,i)

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(4,9,2):
  print(i,i,i,i)

4 4 4 4
6 6 6 6
8 8 8 8

In [ ]:
for i in range(0,3):
  for j in range(1,5):
    print(j,end=" ")
  print(" ")

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(0,4):
  for j in range(4,8):
    print(j,end=" ")
  print(" ")

4 5 6 7
4 5 6 7
4 5 6 7
4 5 6 7

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(4,8):
  for j in range(4,i+1):
    print(j,end=" ")
  print(" ")

4
4 5
4 5 6
4 5 6 7

In [ ]:
x=1
for i in range(1,5):
  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
for i in range(1,5):
  for j in range(1,5-i):
    print("-",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")
  print(" ")

- - - *

- - * *

- * * *

* * * *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print("-",end=" ")
  for j in range(1,5-i):
     print("*",end=" ")
  print(" ")

* * * *
- * * *
- - * *
- - - *
- - - -

In [ ]:
data = "Hey Kartik"
mydictionary = {}

for char in data:
    if char in "aeiou":
        if char not in mydictionary:
            mydictionary[char] = 1
        else:
            mydictionary[char] += 1

print(mydictionary.get('a', 0))

1

In [ ]:
def pat(num):
  for i in range(0,num):
    for j in range(1,i+1):
      print("-",end=" ")
    for j in range(1,num+1-i):
      print(j,end=" ")
    print(" ")
pat(4)

1 2 3 4
- 1 2 3
- - 1 2
- - - 1